<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>

        <key>Label</key>
        <string>com.pointu-l.safari-icon-fix.plist</string>

        <key>RunAtLoad</key>
        <true/>

        <key>StandardErrorPath</key>
        <string>{PATH_TO_SAFARI_ICON_FIX}/stderr.log</string>

        <key>StandardOutPath</key>
        <string>{PATH_TO_SAFARI_ICON_FIX}/stdout.log</string>

        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string><![CDATA[/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin]]></string>
        </dict>

        <key>WorkingDirectory</key>
        <string>{PATH_TO_SAFARI_ICON_FIX}</string>

        <key>ProgramArguments</key>
        <array>
            <string>{PATH_TO_NODE_JS}/bin/node</string>
            <string>index.js</string>
        </array>

    </dict>
</plist>